body {
   background-color: white;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.Logo {
   flex-direction: row;
   justify-content: left;
   width: 304 px;
   margin: 0;
   background-color: white;
    
}

.top-links {
   flex-direction: row;
   justify-content: right;

}
