.Accomadations-list {
   flex-direction: column;
   width: 304 px;
   margin: 0;
   background-colour: white;
    
}

Accomadations-box
Accommodations-container
Sect-accommodations
Accommodations-stars
